@use "common" as *;

.recipe-preview {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  background-color: rgba($color-light, $alpha: 0.25);
  cursor: pointer;
  transition: all 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  img {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    aspect-ratio: 1/1;
    width: 13rem;
  }

  div {
    padding: 2rem 3rem;
    overflow: hidden;
  }

  h4 {
    color: $color-dark;
  }
}

.active-recipe {
  transform: scale(0.875);
  background-color: rgba($color-light, $alpha: 0.5);
}
