@use "common" as *;

.recipe {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 2rem;
  background-color: $background;
  padding: 2% 3%;
}

.recipe__figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
    height: 55rem;
    object-fit: cover;
    filter: opacity(75%);
  }
  h1 {
    font-size: 6.5rem;
    position: absolute;
    bottom: 0;
    transform: translateY(25%) skewY(-8deg);
    text-transform: uppercase;
    color: #fff;
    width: 75%;
    text-align: center;
    span {
      background: linear-gradient(0, $color-light, $color-dark);
      padding: 1% 2%;
    }
  }
}

.recipe__details {
  margin-top: 8rem;
  padding: 2% 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    @include flex-center;
    gap: 2rem;
  }

  .bookmark__btn {
    button {
      padding: 1rem;
    }
  }
}

.recipe__ingredients__container {
  padding: 1% 2%;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $color-dark;
  }
  .recipe__ingredients {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2% 3%;
    list-style: none;
  }
}

.recipe__ingredient {
  min-width: 50%;
  padding: 2% 3%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1rem;
  svg {
    flex-shrink: 0;
  }
}

.recipe__how {
  padding: 3% 5%;
  text-align: center;
  @include flex-center();
  flex-direction: column;
  gap: 3rem;
  h2 {
    text-transform: uppercase;
    color: $color-dark;
  }
  .recipe__publisher {
    font-weight: 600;
  }
  a {
    @include flex-center();
    @include form-element();
    color: #fff;
    svg {
      fill: #fff;
    }
  }
}

@media (min-width: 987px) {
  .recipe {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
